<div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="buildUserTable();">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="buildMessageTable();">Message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="buildChannelTable();">Channel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="buildInvitationTable();">Invitation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="buildCompanyTable();">Companies</a>
                </li>
            </ul>
        </div>
    </nav>
    <table id="show-table" class="table">

    </table>
    <img src onerror='buildUserTable();'>
</div>